*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 29px;
    padding-bottom: 124px;
}
.logo{
    display: block;
    margin: 0 auto;
}
.header h1{
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 35px;
    margin-top: 55px;
    margin-bottom: 37px;
}
.content{
    border: 4px solid #0097B250;
    border-radius: 20px;
    padding: 85px 108px 0;
    box-shadow: 0 4px 4px 0 #00000025;
    box-shadow: inset 0 4px 4px 0 #00000025, 0 4px 4px 0 #00000025;
}
input{
    width: 100%;
    border: 2px solid #0097B2;
    border-radius: 15px;
    padding-top: 33px;
    padding-bottom: 30px;
    padding-left: 16px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.mail{
    margin-bottom: 34px;
}
.password-container{
    position: relative;
}
input::placeholder{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    color: #312A2A99;
    opacity: 100%;
    font-weight: 400;
}
.eye{
    position: absolute;
    top: -20px;
    right:52px;
    width: 55px;
    height: 50px;
    cursor: pointer;
}
.forgot-password{
    display: block;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 12px;
    word-spacing: 5px;
    text-underline-offset: 3px;
}
.login-btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 16px 40px 17px;
    color: #312A2A;
    font-weight: 700;
    border: none;
    border-radius: 15px;
    background-color: #0097B299;
    margin-bottom: 132px;
    cursor: pointer;
}
.eye:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.subheading{
    display: none;
}

@media (max-width: 600px){
    body{
        padding-left: 120px;
        padding-right: 120px;
        display: block;
    }
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 380px;
        padding: 30px 40px;

    }
    .heading{
        display: none;
    }
    .subheading{
        display: block;
        text-align: center;
    }
    .content input{
        widt
    }
}
